body {
	font-family: "Times New Roman", Times, serif;
}

table.joke_table {
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 0.5rem;
	max-width: 60%;
}

th, tr, td {
	padding: 0.5rem;
	border: 1px solid #999;
}

span.err {
	color: #FF0000;
	text-align: center;
}

div.err {
	max-width: 50%;

}
