body {
	font-family: "Times New Roman", Times, serif;
}

table.joke_table {
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 0.5rem;
	max-width: 60%;
}

th, tr, td {
	padding: 0.5rem;
	border: 1px solid #999;
}

span.err {
	color: #FF0000;
	text-align: center;
}

div.err {
	max-width: 50%;
}


div.home_page {
  position: relative;
  width: 85%;
  float: left;
  height: 100%;
}

div.login {
  position: relative;
  width: 15%;
  float: left;
  height: 100%;
  text-align: center;
}


a:link, a:visited {
  background-color: #0BB7FF;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #009BDC;
}
